.homeBand{
  background-color:rgba(72,72,72,0.7);
  width: 500px;
  height: 500px;
  margin-top:100px;
  border-radius:7px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 150px;
  padding: 15px 15px 15px 15px;

}

#buttons1{
	float: left;
	display: block;


}

#buttons2{
	float: left;
	display: block;



}

.button{
  margin-top: 25px;
  display: block;
  width:130px;
  height: 50px;
  font-size:13px;
  text-align: center;
  color: white;

}

.button1{
  display:block;
  width:130px;
  height: 50px;
  font-size:13px;
  text-align: center;
  color: white;


}

#banda {
  margin-top: 0px;
  margin-right: 20px;
  height:220px;
  width:220px;
  display:inline-block;
  float:right;

}

span.address{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span.tel{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span.workingH{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span{
  text-align: left;
}

span.name{
  display:block;
  text-align: center;
  font-weight:700;
  font-size:30px;
}

span.stars{
  display:inline-block;
 float:right;
}

#boton{
  color:white;

}

#boton a:hover{
  color:white;
  font-size: 14px;
}