#buscatit{
  color:#333;
  font-weight:200;
  padding-left:10px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 20px;
  text-align: center;
}

#divisor{
  position: absolute;
  margin: auto;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
}

.buscar{
  padding-left: 20%;
  width: 30%;
  height: .1px;
}

textarea{
  height: .1px;
}