body {
   padding-top: 100px;
   color: white;
   font-family: Arial, san-serif;
   display: inline-block;
   text-align: center;
}

/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
   margin-bottom: 20px;
}
h4{
   margin: 0 0 20px 0;
   padding-top: 40px;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#contact-form2 {
   background-color:rgba(72,72,72,0.7);
   padding: 30px 20px 30px 10px;
   max-width:100%;
   width: 800px;
   left: 40%;
   height: 80vh;
   position: absolute;
   margin-top:30px;
   margin-left: -260px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
    text-align: center;
    margin-right: 500px;
    margin-bottom: 40px;
}
#contact-form2 input,   
#contact-form2 select,   
#contact-form2 textarea,   
#contact-form2 label { 
   font-size: 20px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
   width: 400px;
} 
#contact-form2 input,   
#contact-form2 select,   
#contact-form2 textarea { 
   width:100%;
   background: #fff;
   border: 0; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
#contact-form2 input:focus,   
#contact-form2 select:focus,   
#contact-form2 textarea:focus {  
   background-color: #E5E6E7; 
}  
#contact-form2 textarea {
   width:100%;
   height: 150px;
}
#contact-form2 button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form2 button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form2 button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
} 
#contact-form .required {  
   font-weight:bold;  
   color: #E5E6E7;      
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070; 
   display:none;  
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form2{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}