#guitar{
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    height: 100vh;
    width: 100%;
    opacity: 1;
    display:block;
    margin:auto;

}

#concert{
    margin-left: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.6;

}

.center1 {
    position: absolute;
    display: block;
    top: 50%;
    left: 30%;
    font-size: calc(2vw + 1vh);
    font-weight: 400;
    color:white;
    font-style: oblique;
    text-align: left;
    text-justify: inter-word;
    overflow: hidden;

}

.center2 {
    position: absolute;
    display: block;
    transform: translate(50%, -220%);
    font-size: calc(2vw + 1vh);
    font-style: oblique;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;

}

#texto{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 200px;
    margin:auto;
    color: black;
    font-size: calc(2vw + 1vh);
    display: inline-block;
    overflow: hidden;
    text-align: center;

}

#texto2{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin:auto;
    color: black;
    font-size: calc(2vw + 1vh);
    display: inline-block;
    overflow: hidden;

}

#texto3{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 200px;
    margin:auto;
    color: black;
    font-size: calc(2vw + 1vh);
    display: inline-block;
    overflow: hidden;

}

#text{
    padding-top: 20px;
    text-align: center;
	color: black;
    font-size: calc(3vw + 1vh);
    overflow: hidden;

}

#text2{
    padding-top: 20px;
    text-align: center;
    color: black;
    font-size: calc(2vw + 1vh);
    overflow: hidden;

}

#eltit{

    position: absolute;
    display: block;
    top: 25%;
    left: 40%;
    font-size: calc(6vw + 3vh);
    font-weight: 400;
    color:white;
    font-style: oblique;
    text-align: left;
    text-justify: inter-word;
}