.page{
  width:100%;
  height: 100%;

}

.main-menu{
  opacity: 0.8;
  width:100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #882854;
  border-collapse: collapse;
  z-index: 1;

}

.main-menu a{
  color:white;
  font-size:15px;
  padding-left: 30px;
  display: inline-grid;
  padding-top: 15px;
  padding-right: 30px;

}

.main-menu a:hover{
  font-size:25px;
  color:#292954;
  text-decoration: none;

}

#menutokin {
  height: 50px;
  width: 50px;
}

.main-menu a:active{
  font-size:25px;
  color:black;
  text-decoration: none;
  
}

.main-menu a:selected{
  font-size:25px;
  color:black;
  text-decoration: none;

}

.page section{
  display: block;
  width:82%;
  height:100%;
  float: left;
  padding:2%;
  background-color: white;

}
