.band{
  background-color:rgba(72,72,72,0.7);
  width: 500px;
  height: 350px;
  margin-top:100px;
  border-radius:7px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 150px;
  padding: 15px 15px 15px 15px; 
}

.homeSolicitud{
  padding-left: 500px;
  padding-top: 100px;
}

.datetimepick{
  width: 200px;
  color:blue;
}
.timePick, .timePick2{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 150px;
  display:inline-block;
  float:left;
}

#buttons1{
	float: left;
	display: block;
  position:absolute;
  bottom: 50px;
  left: 300px;
}

#buttons2{
  float: left;
  display: block;
  position:absolute;
  bottom: 50px;
  left: 130px;
}

.pickers{
  display: block;
  padding-left: 62px;
}

span.labelBusca{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 30px;
  display:inline-block;
  float: left;
}
.datePick{
  padding-left:5px;
  float: left;
  display: block;

}

.xxx{
  width:150;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;

}

#banda {
  margin-top: 0px;
  margin-right: 20px;

  display:inline-block;
  float:right;

}

span.address{
display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;

}

span.tel{
  display:block;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;

}

span.mail{
  display:block;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;

}

span.gender{
  display:block;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;

}

span.workingH{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span{
  text-align: left;
}

span.label{
  display:block;
  text-align: center;
  font-weight:400;
  font-size:20px;
  margin-bottom: 15px;
}

span.labelBusca{
  display:block;
  text-align: center;
  padding-left: 170px;
  font-weight:400;
  font-size:20px;
  margin-bottom: 0px;
}