.perfil{
  background-color:rgba(72,72,72,0.7);
  width: 500px;
  height: 600px;
  margin-top:100px;
  border-radius:7px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 150px;
  padding: 15px 15px 15px 15px;
}

span.nombre{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span.tel_movil{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span.correo{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span.gender{
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left:5px;
  margin-right: 13px;
  padding-right: 13px;
  width: 220px;

}

span{
  text-align: left;
}

span.label{
  display:block;
  text-align: center;
  font-weight:400;
  font-size:20px;
  margin-bottom: 15px;
}

span.labelBusca{
  display:block;
  text-align: center;
  padding-left: 170px;
  font-weight:400;
  font-size:20px;
  margin-bottom: 0px;
}